# STRIPE
STRIPE_SECRET_KEY=sk_live_xxx
STRIPE_PRICE_ID=price_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

# VERCEL
VERCEL_TOKEN=xxx

# RAILWAY
RAILWAY_TOKEN=xxx

# DOMAIN
BASE_DOMAIN=emyself.com

# APP
APP_NAME=ai-product
BACKEND_URL=https://api.emyself.com
FRONTEND_SUCCESS_URL=https://ai-product.emyself.com/success
FRONTEND_CANCEL_URL=https://ai-product.emyself.com
NEXT_PUBLIC_API_URL=https://api.emyself.com
